@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');

a{
    color: inherit;
    text-decoration: none;
}

.board{
    background: grey;
    width: 70%;
    margin: 20px auto;
    font-size: 3em;
    color: white;
    padding: 1em;
}

.list{
    /*보더라인으로 가이드 보는 방법은 좋은방법*/
    /*border: 4px solid yellow;*/
    margin-bottom: 15px;
}
.board li:last-child{
    margin-bottom: 0;
}

.board li a{
    display: block;
    font-weight: 600;
    padding: 15px
}

.board li a:hover{
    color: yellow;
    background: skyblue;


}