@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');

section{
    width:550px;
    border-style: double;
    border-width: 2px;
    border-color: #123456;
    margin: 70px 25%;
}
section .title{
    text-align: center;
    background: #abcdef;
    border-bottom: solid #123456;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 0.5em;
}
section .content{
    padding: 0.5em;

}
section .content h2{
    text-align: left;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.5em;
}
section .content p{
    font-size: 0.5em;
}

section .content:last-child{
    border-top: 1px dotted #123456;
}